a {
  color: unset !important;
  text-decoration: unset !important;
}

.delete-wrapper {
  display: flex;
  width: 100%;
}

.cancel-button,
.delete-button {
  width: 100%;
  border: 0;
  background: 0 0;
  font-weight: 500 !important;
}

.cancel-button {
  color: blue;
}

.delete-button {
  color: red;
}

.dark-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-content {
  text-align: center;
  width: 300px !important;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.205) !important;
  border-radius: 20px !important;
  padding: 20px !important;
  font-size: 15px !important;
  height: 160px;
  background-color: white !important;
  z-index: 4;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}